@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FireTracker</h1>
    <p class="lead">FireTracker is a customized implementation of the Hangfire platform for managing scheduled tasks, with enahanced logging and reporting.</p>
</div>
<div>
    &nbsp;
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hangfire Dashboard</h2>
        <p>View And Manage Processes With The Hangfire Dashboard</p>
        <p><a class="btn btn-light" href="~/Hangfire/recurring">Navigate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recurring Process Dashboard</h2>
        <p>View Recurring Process Log and Process Details</p>
        <p><a class="btn btn-light" href="~/RecurringProcess/">Navigate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Swagger UI Dashboard</h2>
        <p>View Swagger UI</p>
        <p><a class="btn btn-light" href="~/swagger/">Navigate &raquo;</a></p>
    </div>
</div>

